*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-color: #181818;
}
.jt-regular {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.jt-medium {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.jt-medium-it {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
.jt-light-it {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
}

.welcome{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
}
.profile-image {
    width: 110px; 
    height: 110px;
    border-radius:100%; 
    object-fit: fit;
    margin-left: 20px;
}
.terminal-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}
.about{
    margin-top: 1vh;
    text-align: left;
}
blockquote{
    text-align: end;
    display: block;
    margin-bottom: 1vh;
}
.terminal{
    padding: 10px;
    background-color: black;
    color: #aaaaaa;
    min-width: 90vw;
    max-height: 80vh;
    max-width: 90vw;
    min-height: 80vh;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.terminal-input{
    background-color: black;
    border: none;
    color: #aaaaaa;
    outline: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

.terminal-input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.terminal-output{
    background-color: black;
    color: #aaaaaa;
    font-size: small;
    word-break: break-word;
    word-wrap: break-word;
}
pre {
    white-space: pre-wrap; 
    word-wrap: break-word; 
}
.terminal-label{
    color: #90a959;
}
a{
    text-decoration: underline;
    color: #aaaaaa;
}

@media(max-width:680px){
    .welcome{
        flex-direction: column-reverse;
        text-align: center;
    }
}